@import 'fonts.css';
* {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ECEEF1;
}

.signup_header {
    display: grid;
    grid-template-columns: 2fr 0.1fr;
    text-align: right;
    padding: 20px 20px 0px 0px;


}

.already_have_account {
    padding-bottom: 2px;
}

.forget_password {
    text-decoration: none;
    color: #0077C5;

}

.sign_in {
    width: fit-content;
    margin-left: 10px;
    min-width: 100px;
    background: #0077C5;
    padding: 10px;
    color: white;
    border: 0.8px solid black;
    border-radius: 5px;
}

.btn_text {
    padding: 10px;
    font-size: 1.125em;
    
}
.company-info {
    width: 30%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: .2fr .2fr;
}
.info_icons {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}
.icon_info { 
    padding: 10px 10px;
    display: flex;
    align-items: center;
}
.icon_info > span {
    padding: 5px;
    /* font-style: italic;
    font-weight: lighter; */
    font-family: Avenir;
    font-size: 20px;
    color: darkgrey;
}
.logo {
    width: 120px;
    display: flex;
    margin: 0 auto;
    padding: 20px 10px;
}
.logo_item {
    display: inline;
    align-items: center;
    margin: auto;
    text-align: center;
}
.icon {
    width: 24px;
    height: 24px;
}
#registration_form {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10%;
}

#create_account_form {
    padding: 40px 20px;
    background: #fff;
    font-family: AvenirNext;
    font-weight: normal;
    border: 1px #ccc solid;
    border-bottom: none;
}
.center {
    text-align: center;
}
.center > p {
    font-size: 15px;
    margin-top: 20px;
}
.center > a {
    text-decoration: none;
    color: #0077C5;
    font-size: 12px;
}
.input_field {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 5px;
}
.field {
    padding: 20px;
}
.btn {
    padding: 10px;
    border: 1px #000 solid;
    border-radius: 5px;
    color: #fff;
    background: #0077C5;
    margin: 0 auto;
    text-align: center;
}
#form_footer {
    background: #ECEEF1;
    padding: 30px 20px;
    font-size: 10px;
    font-family: AvenirNext;
    text-align: center;
    border: 1px #ccc solid;
    border-top: none;
}

